* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background: linear-gradient(to left, #ad6ae7, #f1a249);
  font-family: "Lato", sans-serif;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 10px 22px 10px;
}
.notepadtitle {
  display: flex;
  align-items: center;
  margin-top: 45px;
}
.notepadtitle img {
  width: 50px;
}
.notepadtitle h1 {
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}
.mainbtn {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 700;
  background-color: #ad6ae7;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
}
.noteContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.noteContainer p {
  width: 49%;
  height: 150px;
  overflow: auto;
  background-color: #fff;
  padding: 10px;
  outline: none;
  position: relative;
  border-radius: 10px;
}
.deleteIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 25px;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .container{
    padding: 0 20px 20px;
  }
  .noteContainer p {
    width: 100%;
  }
}
